.container{
    background: lightsalmon;
    border: 3px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: 100px 50px 75px 25px;*/
    grid-auto-rows: 100px;
    row-gap: 20px;
}
.container div{
    background: lightblue;
    border: 2px solid blue;
    border-radius: 5px;
}